
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reciclayuda</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">

  </head>

  <body>
  

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    
      <div class="container">
        <a class="navbar-brand" href="#">Reciclayuda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <div>
    <a href="/users/sign_up">Registrarse</a>
    <a href="/users/sign_in">Ingresar</a>
</div>
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> | Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">| Acerca de Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">| Contáctenos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Reciclando en el presente salvaremos el futuro</h1>
          <h2 class="masthead-subheading mb-0">Es tiempo de pensar bien, es tiempo de pensar en el planeta</h2>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Residuos sólidos domésticos...</h2>
              <p>La basura que generan los hogares es principalmente sólida y es conocida como desechos sólidos domésticos, o residuos sólidos urbanos. Todos los días en miles de millones hogares se desechan todo tipo de elementos sólidos, la mayoría de los cuales pueden ser reciclados.</p>
            </div>
            <div class="p-5">
                <a class="btn btn-success btn-block"href="ResiduosDomesticos.html"target="_blank">Saber más</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Residuos industriales!</h2>
              <p>Son aquellos residuos resultantes de los procesos de fabricación, de transformación, de utilización, de consumo, de limpieza o de mantenimiento generados por la actividad industrial.</p>
            </div>
            <div class="p-5">
                <a class="btn btn-success btn-block"href="ResiduosIndustriales.html"target="_blank">Saber más</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="embed-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31811.065385630103!2d-74.07688516044922!3d4.703316750000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1534541329274" width="600" height="400" frameborder="4" style="border:4" allowfullscreen></iframe>
                </div> 
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h2 class="display-4">Residuos de manejo especial...</h2>
                <p>Encuentre aquí donde depositar elementos como bombillas, baterias, pilas, etc.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
    
    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
